
# dependencies
/node_modules
express/node_modules
next/to_do_list/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
next/to_do_list/.next

# production
/build

# misc
.DS_Store
*.pem
*.ppk
/credentials
/archive
*.odt
*.odt#
/instructions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.local

# images
# to include once images not to be shared /public/productImages

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


certificates
